extends layout

block content 
  div.container(style='flex-direction:column; max-width:90%; margin:auto;')
    h1(style='text-align:center;color:#8fbcbb;') Color Games
    if !games 
      p No games have been played yet

    if games
      h2 Total Games: #{games.length}
      ul
        each game in games
          li
            div(style='display:flex; justify-content:space-between; margin:10px;')
              a(href=game.url title=game.join_code)  #{game.date_played.toLocaleString()}
              a(href=game.player1.url) #{game.player1.user_name}
              if game.winner == game.player1.user_name  && game.player2
                p #[strong Score:] #{11 - JSON.parse(game.game_state)[1]}
              if !game.winner == game.player1.user_name && game.player2
                p #[strong Score:] 0
              if game.player2
                a(href=game.player2.url) #{game.player2.user_name}
                if game.winner == game.player2.user_name &&game.player2
                  p #[strong Score:] #{10 -JSON.parse(game.game_state)[2]}
                if !game.winner == game.player2.user_name &&game.player2
                  p #[strong Score:] 0
              if !game.player2
                p #[strong Score:] #{10 - JSON.parse(game.game_state)[1]}



           
